.about__formula {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  padding-bottom: $space-600;
  padding-left: $space-500;
  padding-right: $space-500;
  padding-top: $space-800;
  position: relative;

  @include mq($M) {
    justify-content: center;
  }
}

.formula {
  &__heading {
    font-family: $font-mono;
    font-size: clamp(0.75rem, 0.5739rem + 0.7512vw, 1.25rem);
    letter-spacing: 0.2em;
    margin-bottom: $space-600;
    text-transform: uppercase;

    @include mq($M) {
      margin-left: 10%;
    }

    @include mq($L) {
      margin-left: 15%;
    }

    @include mq($XL) {
      margin-left: 20%;
    }
  }

  &__sub-heading {
    font-family: $font-black;
    font-size: 3.25rem;
    font-size: clamp(3.25rem, 12.5vw, 9rem);
    line-height: 0.85;
    max-width: none;
    text-transform: uppercase;

    &--top {
      @include mq($M) {
        font-size: 16.5vw;
        position: absolute;
        top: $space-500;
        white-space: nowrap;

        span {
          display: inline-block;
          transform: translateY(-0.055em);
        }
      }
    }

    &--bottom {
      @include mq($M) {
        bottom: 0;
        font-size: 15vw;
        position: absolute;
      }
    }
  }

  &__copy {
    align-self: flex-end;
    font-family: $font-light;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: $space-800 !important;
    max-width: 34ch;
    text-align: right;
    width: 90%;

    @include mq($M) {
      max-width: 38ch;
      position: absolute;
      right: 10%;
      text-align: left;
      top: 50%;
      transform: translateY(-50%);
    }

    @include mq($L) {
      right: 15%;
    }
  }
}
