.about__intro {
  align-items: flex-end;
  display: flex;
  height: calc(100vh + 40px);
  height: calc(var(--app-height) + 40px);
  justify-content: center;
  position: relative;
  text-align: center;

  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    position: relative;
  }

  &-heading {
    font-family: $font-black;
    font-size: 1.625rem;
    font-size: clamp(1.625rem, 0.9246rem + 2.9885vw, 4.0625rem);
    line-height: 0.85;
    margin-bottom: $space-550;
    max-width: 20ch;
    text-transform: uppercase;

    @include mq($M) {
      margin-bottom: $space-600;
    }
  }

  &-copy {
    margin-bottom: $space-500;
    margin-left: auto;
    margin-right: auto;

    p {
      font-family: $font-mono;
      font-size: 0.4375rem;
      font-size: clamp(0.4375rem, 0.275rem + 0.8vw, 0.875rem);
      letter-spacing: 0.2em;
      max-width: none;
      text-transform: uppercase;
    }
  }
}
