// ===========================================================================
// ==== ANIMATIONS
// ===========================================================================
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.65, 0, 1, 0.5);
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAndGrow {
  0% {
    display: none;
    max-height: 0;
    opacity: 0;
  }
  1% {
    display: block;
  }
  33% {
    opacity: 0;
  }
  75% {
    max-height: 15rem;
    opacity: 1;
  }
  100% {
    display: block;
    max-height: 15rem;
    opacity: 1;
  }
}

@keyframes fadeOutAndShrink {
  0% {
    display: block;
    max-height: 15rem;
    opacity: 1;
  }
  25% {
    max-height: 15rem;
    opacity: 0;
  }
  75% {
    max-height: 0;
  }
  100% {
    display: none;
    max-height: 0;
    opacity: 0;
  }
}

@keyframes sideToSide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.slideUp {
  animation-name: slideUp;
  animation-duration: 0.375s;
  animation-timing-function: ease-out;
  animation-timing-function: cubic-bezier(0.27, 1, 0.79, 0.98);
  animation-fill-mode: forwards;
  transform: translateY(100%);
}

@keyframes growRight {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.growRight {
  animation-name: draw;
  animation-duration: 0.625s;
  animation-timing-function: cubic-bezier(0.65, 0, 1, 0.5);
  animation-fill-mode: forwards;
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
}
