// ===========================================================================
// ==== ANIMATIONS
// ===========================================================================
@keyframes fadeInAndGrow {
  0% {
    display: none;
    max-height: 0;
    opacity: 0;
  }
  1% {
    display: block;
  }
  33% {
    opacity: 0;
  }
  75% {
    max-height: 15rem;
    opacity: 1;
  }
  100% {
    display: block;
    max-height: 15rem;
    opacity: 1;
  }
}

@keyframes fadeOutAndShrink {
  0% {
    display: block;
    max-height: 15rem;
    opacity: 1;
  }
  33% {
    max-height: 15rem;
  }
  50% {
    opacity: 0;
  }
  100% {
    display: none;
    max-height: 0;
    opacity: 0;
  }
}

@keyframes sideToSide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  animation-name: fadeInDown;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes zoom {
  0% {
    opacity: 1;
    transform: scale(6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.zoom {
  animation-delay: 1s;
  animation-name: zoom;
  animation-duration: 3.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  transform: scale(6);
}
