// ===========================================================================
// ==== GLOBAL ELEMENTS
// ===========================================================================
:root {
  --app-height: 100%;
}

html {
  height: var(--app-height);
}

body {
  background: $bg-clr;
  background-attachment: fixed;
  background-image: url('/blue-paper-bg.jpg');
  background-size: cover;
  font-family: $font-med;
  height: var(--app-height);
  width: 100%;
}

main,
footer {
  p,
  ul,
  ol {
    margin-bottom: $space-500;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
  }

  ul.aligned-list {
    list-style: disc;
    margin-left: $space-300;

    li {
      margin-bottom: $space-300;
      padding-left: $space-500;
      text-indent: -$space-500;
    }
  }

  a {
    border-bottom: 1px solid $link-clr;
    color: $link-clr;
    padding-bottom: 2px;
    text-decoration: none;
  }
}

a {
  color: $link-clr;
}

h1,
.h1,
h2,
.h2 {
  margin-bottom: $space-300;
}

h3,
.h3,
h4,
.h4 {
  margin-bottom: 0.25rem;
}

small {
  font-size: 0.85rem;
  margin-bottom: 1rem;
}

figure {
  margin: 0 $space-500;
}

.iframe-container {
  height: 0;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;

  &.iframe-container-16x9 {
    padding-bottom: 56.25%; // for 16x9 windows
  }

  &.iframe-container-4x3 {
    padding-bottom: 75%; // for 4x3 windows
  }

  iframe {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.link {
  display: inline-block;
  outline: none;
  position: relative;
  text-decoration: none;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 1.2s cubic-bezier(0.23, 1, 0.32, 1);
  }

  &:focus,
  &:hover {
    &:after {
      transform-origin: bottom left;
      transform: scaleX(1);
    }
  }
}

.main {
  margin-top: -40px;
  position: relative;
}

.container {
  padding: 0 $space-500;
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
  width: 100%;

  @include mq($L) {
    max-width: ($container-width * 1.5);
  }
}
