// ===========================================================================
// ==== HELPER AND MODIFIER CLASSES
// ===========================================================================

.font-black {
  font-family: $font-black;
}

.font-bold {
  font-family: $font-bold;
}

.font-light {
  font-family: $font-light;
}

.font-med {
  font-family: $font-med;
}

.font-reg {
  font-family: $font-reg;
}

.font-mono {
  font-family: $font-mono;
}
