.info__contacts {
  background-color: $bg-black;
  color: $white;
  padding-left: $space-500;
  padding-right: $space-500;

  @include mq($L) {
    align-items: flex-end;
    display: flex;
    height: 40vh;
    padding-bottom: $space-600;
  }
}

.contacts {
  &__list {
    @include mq($L) {
      display: flex;
      gap: $space-600;
      justify-content: space-between;
      width: 95vw;
    }
  }

  &__item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: $font-reg;
    font-size: 1.125rem;
    line-height: 1.125;
    padding-bottom: $space-800;

    @include mq($L) {
      flex-basis: 25%;
      padding-bottom: $space-300;
    }

    &-heading {
      font-family: $font-reg;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 0.85;
      margin-bottom: $space-100;
    }

    &-name {
      font-size: 0.875rem;
      margin-bottom: $space-400;

      &:empty {
        height: $space-500;
      }
    }

    &-link {
      border-bottom: 0;
      color: $white;
      font-size: 1.125rem;

      &:empty {
        height: $space-550;
      }
    }
  }

  &__big-link {
    border-bottom: 0;
    color: $white;
    font-family: $font-black;
    font-size: 3.125rem;
    margin-top: $space-700;
    outline: none;
    transition: letter-spacing 0.33s ease-out;

    @include mq($L) {
      font-size: 2.5rem;
    }

    @include mq($XL) {
      font-size: 2.875rem;
    }

    @include mq($XXL) {
      font-size: 3.125rem;
    }

    &:focus {
      text-decoration: underline;
    }

    &:focus,
    &:hover {
      letter-spacing: 0.025em;
    }
  }
}
