.info__content {
  background-color: $bg-black;
  padding-bottom: $space-600;
}

.info__intro {
  background-color: $bg-black;
  color: $white;
  height: 67.5vh;
  padding-bottom: $space-600;
  padding-left: $space-500;
  padding-right: $space-500;
  padding-top: $space-900;

  @include mq($L) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: auto;
    padding-top: $space-1200;
  }

  &-heading {
    font-family: $font-black;
    font-size: 2.125rem;
    font-size: clamp(2.125rem, 0.125rem + 10vw, 7.625rem);
    line-height: 0.85;
    margin-bottom: $space-900;
    text-align-last: justify;
    text-transform: uppercase;
  }
}
