.info__content {
  background-color: $bg-black;
  padding-bottom: $space-600;
}

.info__intro {
  background-color: $bg-black;
  color: $white;
  height: 67.5vh;
  padding-bottom: $space-600;
  padding-left: $space-500;
  padding-right: $space-500;
  padding-top: $space-900;

  @include mq($M) {
    display: flex;
    flex-direction: row-reverse;
    height: calc(60vh + 40px);
    justify-content: flex-end;
    padding-top: $space-1200;
  }

  &-heading {
    font-family: $font-black;
    font-size: 2.125rem;
    margin-bottom: $space-900;
    text-transform: uppercase;
  }

  &-copy {
    font-family: $font-reg;
    font-size: 0.75rem;
    line-height: 1.1;
    max-width: 42ch;

    @include mq($M) {
      font-size: 0.875rem;
      margin-right: $space-900;
    }

    @include mq($L) {
      margin-right: $space-1200;
    }

    @include mq($XL) {
      margin-right: 25rem;
    }
  }
}
