.services__a-better-place {
  margin-top: $space-800;
  padding-bottom: $space-1200;

  @include mq($M) {
    margin-top: $space-850;
    padding-bottom: $space-850;
  }
}

.a-better-place {
  &__content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-left: $space-500;
    padding-right: $space-500;
  }

  &__copy {
    color: $color-grey-8;
    font-family: $font-light;
    line-height: 1;
    max-width: 750px;
    text-align: center;

    @include mq($M) {
      line-height: 1.2;
    }

    p {
      font-size: 0.875rem;
      margin-left: auto;
      margin-right: auto;

      @include mq($M) {
        font-size: 1.25rem;
        margin-left: 0;
        margin-right: 0;
        max-width: 42rem;
      }
    }

    strong {
      font-family: $font-bold;
      text-transform: uppercase;
    }
  }

  &__tag {
    color: $color-grey-8;
    font-family: $font-black;
    font-size: 1.875rem;
    font-size: clamp(
      1.875rem,
      0.6964285714285714rem + 5.892857142857142vw,
      6rem
    );
    line-height: 0.9;
    margin-bottom: $space-600;
    text-align: center;
    text-transform: uppercase;

    p {
      margin-left: auto;
      margin-right: auto;

      @include mq($M) {
        max-width: none;
      }
    }
  }
}
