.services__a-better-place {
  padding-bottom: $space-850;
  margin-top: $space-850;
}

.a-better-place {
  &__content-wrapper {
    overflow-x: hidden;

    @include mq($L) {
      align-items: center;
      display: flex;
      gap: $space-500;

      > * {
        flex-basis: 50%;
      }
    }

    @include mq($XXL) {
      gap: $space-800;
    }
  }

  &__figure {
    margin-bottom: $space-700;
    width: 105%;

    @include mq($L) {
      width: 100%;
    }
  }

  &__copy {
    color: $color-grey-8;
    line-height: 1.2;
    padding-left: $space-600;
    padding-right: $space-600;
    text-align: center;

    @include mq($L) {
      padding-left: 35%;
      text-align: right;
    }

    @include mq($XXL) {
      padding-left: 25%;
    }

    p {
      margin-left: auto;
      margin-right: auto;

      @include mq($L) {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
      }
    }

    strong {
      text-transform: uppercase;
    }
  }

  &__tag {
    color: $color-grey-8;
    font-family: $font-black;
    font-size: 1.875rem;
    font-size: clamp(
      1.875rem,
      1.3670112781954886rem + 2.161654135338346vw,
      3.3125rem
    );
    line-height: 1;
    margin-top: $space-600;
    text-align: center;
    text-transform: uppercase;

    @include mq($L) {
      padding-right: $space-600;
      text-align: right;
    }

    p {
      margin-left: auto;
      margin-right: auto;

      @include mq($L) {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
      }
    }
  }
}
