.services__intro {
  align-items: center;
  color: $color-grey-8;
  display: flex;
  height: calc(100vh + 40px);
  height: calc(var(--app-height) + 40px);
  justify-content: center;
  padding-bottom: $space-600;
  padding-left: $space-600;
  padding-right: $space-600;
  padding-top: $space-850;
  position: relative;

  &-heading {
    font-family: $font-black;
    font-size: 3.25rem;
    font-size: clamp(3.25rem, 0.6458rem + 11.1111vw, 6.5rem);
    line-height: 0.85;
    margin-left: auto;
    margin-right: auto;
    max-width: 28.125rem;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 32.5rem) {
      max-width: none;
    }

    @include mq($L) {
      margin-bottom: 0;
    }
  }

  &-copy {
    align-self: flex-end;
    font-family: $font-reg;
    font-size: 0.625rem;
    line-height: 1;
    max-width: 36ch;

    @include mq($L) {
      align-self: auto;
      max-width: 44ch;
      position: absolute;
      left: 55%;
      transform: translateY(57%);
    }

    @include mq($XL) {
      font-size: 0.75rem;
      max-width: 48ch;
      transform: translateY(70%);
    }

    @include mq($XXL) {
      font-size: 0.875rem;
      left: 52%;
      transform: translateY(74%);
    }
  }
}
