.services__what-we-do {
  background-color: $bg-blue;
  color: $white;
  padding-left: $space-500;
  padding-right: $space-500;

  &-heading {
    border-bottom: 1px solid $white;
    display: flex;
    font-family: $font-bold;
    font-size: 1.25rem;
    justify-content: space-between;
    padding-bottom: $space-400;
    text-transform: uppercase;
  }

  .accordion {
    &__item {
      border-bottom: 1px solid $white;
      color: $white;
      padding-bottom: $space-700;
      padding-top: $space-700;
      position: relative;
    }

    &__button {
      color: $white;

      > div {
        align-items: center;
        display: flex;
      }
    }

    &__number {
      font-family: $font-mono;
      font-size: 0.875rem;
      margin-right: $space-800;

      @include mq($S) {
        margin-right: $space-850;
      }

      @include mq($M) {
        margin-right: $space-1000;
      }

      @include mq($L) {
        margin-right: $space-1500;
      }
    }

    &__title {
      font-family: $font-bold;
      font-size: 1.875rem;
      font-size: clamp(1.875rem, 1.3248rem + 2.3474vw, 3.4375rem);
      text-transform: uppercase;
    }

    &__content {
      font-size: clamp(0.625rem, 0.4375rem + 0.8333vw, 0.875rem);
      line-height: 1.2;
      margin-left: 5rem;
      margin-right: $space-600;
      max-width: 60ch;
      padding-top: $space-600;

      @include mq($S) {
        margin-left: 7.25rem;
        margin-right: $space-800;
      }

      @include mq($M) {
        margin-left: 11.25rem;
      }

      @include mq($L) {
        margin-left: 16.25rem;
        max-width: none;
        padding-top: 0;
        padding-left: 25%;
        transform: translateY(-2rem);

        p {
          max-width: 30ch;
        }
      }

      @include mq($XL) {
        margin-left: 26.25rem;
        padding-left: 31%;
      }
    }
  }
}
