.services__what-we-do {
  color: $color-grey-8;
  padding-left: $space-500;
  padding-right: $space-500;

  &-heading {
    border-bottom: 1px solid $color-grey-8;
    display: flex;
    font-family: $font-bold;
    font-size: 1.25rem;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: $space-400;
    text-transform: uppercase;
  }

  .accordion {
    &__item {
      border-bottom: 1px solid $color-grey-8;
      color: $color-grey-8;
      position: relative;

      @include mq($L) {
        &:nth-of-type(3) {
          .accordion__content-wrapper {
            margin-top: -1.75rem;
          }
        }
      }

      a {
        color: $color-grey-8;
      }
    }

    &__button {
      color: $color-grey-8;
      outline: none;
      padding-bottom: $space-700;
      padding-top: $space-700;

      &:focus-visible {
        .accordion__title {
          text-decoration: underline;
        }
      }

      > div {
        align-items: center;
        display: flex;
      }
    }

    &__number {
      font-family: $font-mono;
      font-size: 0.875rem;
      margin-right: $space-800;

      @include mq($S) {
        margin-right: $space-850;
      }

      @include mq($M) {
        margin-right: $space-1000;
      }

      @include mq($L) {
        margin-right: $space-1500;
      }
    }

    &__title {
      font-family: $font-bold;
      font-size: 1.875rem;
      font-size: clamp(1.875rem, 1.3248rem + 2.3474vw, 3.4375rem);
      text-transform: uppercase;
    }

    &__subtitle {
      font-family: $font-bold;
      font-size: 0.875rem;
      margin-bottom: 0;
      text-transform: uppercase;

      + * {
        margin-top: $space-500;
      }
    }

    &__content-wrapper {
      font-size: clamp(0.625rem, 0.4375rem + 0.8333vw, 0.875rem);
      line-height: 1.2;
      margin-left: 5rem;
      margin-right: $space-600;
      max-width: 60ch;
      padding-bottom: $space-600;
      pointer-events: none;

      @include mq($S) {
        margin-left: 7.25rem;
        margin-right: $space-800;
      }

      @include mq($M) {
        margin-left: 11.25rem;
      }

      @include mq($L) {
        margin-left: 16.25rem;
        margin-top: -$space-500;
        max-width: none;
        padding-bottom: 0;
        padding-left: 25%;
        transform: translateY(-$space-800);

        p {
          max-width: 30ch;
        }
      }

      @include mq($XL) {
        margin-left: 26.25rem;
        padding-left: 26%;
      }

      @include mq($XXL) {
        padding-left: 31%;
      }
    }
  }
}
