.giant-link {
  border: 0;
  color: $black;
  font-family: $font-black;
  font-size: 5.0625rem;
  letter-spacing: -0.025em;
  line-height: 0.875;
  outline: none;
  transition: letter-spacing 0.75s ease-out;

  @include mq($M) {
    font-size: 12.5vw;
  }

  &:focus {
    text-decoration: underline;
  }

  &:focus,
  &:hover {
    letter-spacing: 0.00125em;
  }

  &__arrow {
    animation: sideToSide 3s ease-in-out infinite;
    display: inline-block;
  }
}
