// ===========================================================================
// ==== HEADER
// ===========================================================================
.header {
  padding-bottom: $space-300;
  padding-left: $space-500;
  padding-right: $space-500;
  padding-top: $space-300;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: auto;
    width: 4.875rem;

    path {
      transition: fill 0.2s ease-out;
    }
  }

  &__menu-button {
    color: $black;
    font-family: $font-bold;
    font-size: 0.9375rem;
  }
}
