// ===========================================================================
// ==== HEADER
// ===========================================================================
.header {
  padding-bottom: $space-300;
  padding-left: $space-500;
  padding-right: $space-500;
  padding-top: $space-300;
  position: relative;
  z-index: 1;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: auto;
    width: 4.875rem;
  }

  &__menu-button {
    color: $black;
    font-family: $font-bold;
    font-size: 0.9375rem;
  }
}
