.home__get-in-touch {
  background-color: $bg-grey;
  padding-bottom: $space-700;
  padding-top: $space-600;

  @include mq($M) {
    padding-bottom: $space-600;
    padding-top: $space-600;
  }

  @include mq($L) {
    padding-bottom: $space-800;
  }

  @include mq($XL) {
    padding-bottom: $space-1000;
  }

  &-container {
    padding-left: $space-500;
    padding-right: $space-500;
    width: 100%;
  }
}
