.home__get-in-touch {
  background-color: $bg-grey;
  padding-bottom: $space-500;
  padding-top: $space-500;

  a {
    border: 0;
    color: $black;
    font-family: $font-black;
    font-size: 5.0625rem;
    line-height: 0.875;
  }
}
