.home__mobile-bg {
  height: calc(100vh + 40px);
  max-width: none;
  position: fixed;
  width: 100%;

  @include mq($S) {
    display: none;
  }
}

.home__hero {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  height: calc(100vh + 40px);
  height: calc(var(--app-height) + 40px);
  justify-content: center;
  text-align: center;

  &-content {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding-left: $space-500;
    padding-right: $space-500;
    padding-bottom: $space-500;
    position: relative;
    width: 100%;
  }

  &-blob {=
    max-width: 16.5rem;

    @include mq($M) {
      margin-top: -4rem;
      max-width: none;
    }

    @include mq($L) {
      margin-top: -6rem;
    }

    @include mq($L) {
      margin-top: -8rem;
    }

    @include mq($XL) {
      margin-top: -10rem;
    }

    img {
      max-height: 50vh;
    }
  }

  .logo {
    bottom: $space-500;
    height: auto;
    position: absolute;
    width: calc(100% - 2rem);
    z-index: 1;
  }
}
