.home__what-we-do {
  align-items: center;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: $space-700;
  padding-top: $space-700;
  position: relative;

  @include mq($M) {
    padding-bottom: $space-700;
    padding-top: $space-850;
  }

  &-heading {
    display: none;
    font-family: $font-mono;
    font-size: 0.875rem;
    left: -$space-300;
    letter-spacing: 0.2em;
    position: absolute;
    text-transform: uppercase;
    top: 38%;
    transform: rotate(270deg) translateY(-50%);

    @include mq($M) {
      display: block;
    }
  }

  .what-we-do {
    &__list {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    &__item {
      display: flex;
      justify-content: space-between;

      &:not(:first-child) {
        padding-top: $space-600;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $black;
        padding-bottom: $space-600;
      }

      &-small {
        margin-bottom: 0;

        @include mq($XL) {
          display: none;
        }
      }

      &-large {
        display: none;

        @include mq($XL) {
          display: block;
        }
      }

      &-container {
        display: flex;
        flex-basis: 67%;
        flex-direction: column;

        @include mq($M) {
          align-items: center;
          flex-basis: 70%;
          flex-direction: row;
        }
      }

      &-number {
        flex-basis: 10%;
        font-family: $font-mono;
        font-size: 0.875rem;
        letter-spacing: 0.2em;
        text-align: center;

        @include mq($M) {
          flex-basis: 25%;
        }
      }

      &-name {
        font-family: $font-bold;
        font-size: 1.25rem;

        @include mq($M) {
          margin-bottom: 0;
        }
      }

      &-detail {
        font-family: $font-mono;
        font-size: 0.6875rem;
        font-size: clamp(0.6875rem, 0.5833rem + 0.463vw, 1rem);
        letter-spacing: 0.2em;
        text-transform: uppercase;

        @include mq($M) {
          margin-left: $space-800;
        }

        @include mq($L) {
          margin-left: $space-900;
        }
      }
    }
  }

  &-cta {
    margin-top: $space-800;
  }
}
